<!--
<ion-header no-border>
    <ion-navbar>
    </ion-navbar>
</ion-header>
-->

<ion-content padding text-center no-bounce>
    <rotator [path]="imagesDirectory"></rotator>
    <ion-spinner *ngIf="showSpinner"></ion-spinner>
</ion-content>
