<ion-tabs swipeTab (ionChange)="transition($event)" (onTabChange)="onTabChange($event)" [selectedIndex]="mySelectedIndex" #myTabs>
  <ion-tab [root]="tab1Root" [tabBadge]="tabBadgeCount['models'] > 0 ? tabBadgeCount['models'] : null" tabBadgeStyle="orange" tabTitle="Modely" tabIcon="custom-model"></ion-tab>
  <ion-tab [root]="tab2Root" [tabBadge]="tabBadgeCount['contest'] > 0 ? tabBadgeCount['contest'] : null" tabBadgeStyle="orange" tabTitle="Soutěže" tabIcon="custom-soutez"></ion-tab>
  <ion-tab [root]="tab3Root" [tabBadge]="tabBadgeCount['info'] > 0 ? tabBadgeCount['info'] : null" tabBadgeStyle="orange" tabTitle="Proč Tarespa?" tabIcon="custom-kosik"></ion-tab>
  <ion-tab [root]="tab4Root" [tabBadge]="tabBadgeCount['contact'] > 0 ? tabBadgeCount['contact'] : null" tabBadgeStyle="orange" tabTitle="O nás" tabIcon="custom-onas"></ion-tab>
</ion-tabs>
