<ion-content padding>

    <ion-grid no-padding>
        <ion-row>
            <ion-col col-4 offset-1>
                <img src="assets/imgs/logo.png">
            </ion-col>
            <ion-col col-5 offset-2>
                <h3>O společnosti</h3>
                TARESPA s.r.o.<br>
                Zborovská 1204/10,<br>
                150 00 Praha 5
            </ion-col>
        </ion-row>
        <ion-row mt-2>
            <ion-col col-2 offset-1 text-center>
                <img src="assets/imgs/icon-facebook.png" class="icon" (click)="openBrowser('link-facebook')">
            </ion-col>
            <ion-col col-2 text-center>
                <img src="assets/imgs/icon-instagram.png" class="icon" (click)="openBrowser('link-instagram')">
            </ion-col>
            <ion-col col-2 text-center>
                <img src="assets/imgs/icon-youtube.png" class="icon" (click)="openBrowser('link-youtube')">
            </ion-col>
            <ion-col col-2 text-center>
                <img src="assets/imgs/icon-tarespa.png" class="icon" (click)="openBrowser('link-web')">
            </ion-col>
            <ion-col col-2 text-center>
                <img src="assets/imgs/icon-email.png" class="icon" (click)="openBrowser('link-email')">
            </ion-col>
        </ion-row>
    </ion-grid>

    <hr>

    <div id="text" [innerHtml]="text" tappable (click)="textOnclick($event)"></div>

    <img id="logo-eu" src="./assets/imgs/logo_eu.png">

</ion-content>

<div style="left: 0;
bottom: 50px;
height: 100px;
position: absolute;
z-index: 10;
display: block;
background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
width: 100%;"></div>
