page-contact {
    ion-row {        
        margin: 20px 0;
    }

    h3 {
        font-size: 1.4rem;
        font-weight: bold;
        text-transform: uppercase;
        color: color($colors, blue);
    }

    .icon {
        max-width: 3.6rem;
    }

    strong {
        color: color($colors, blue);
    }

    #text {
        margin-bottom: 20px;
    }

    #logo-eu {
        margin-bottom: 50px;
    }
}
