<ion-header no-border>
  <ion-navbar>
    <ion-searchbar (ionInput)="getItems($event)" placeholder="Modely"></ion-searchbar>
  </ion-navbar>
</ion-header>

<ion-content padding-bottom>
  <div id="models">
    <div text-center *ngFor="let model of models" (click)="goToDetailPage(model.id)">
      <div *ngIf="model.category == 'standard'">
        <img [src]="model.picture.url | safe">
        <h1>{{model.title}}</h1>
      </div>
    </div>
  </div>
</ion-content>

<div style="left: 0;
bottom: 50px;
height: 100px;
position: absolute;
z-index: 10;
display: block;
background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
width: 100%;"></div>
