page-home {
    img {
        margin: 16px 0 0 0;
    }

    h1 {
        color: white;
        background-color: color($colors, blue);
        text-align: center;
        width: 100%;
        padding: 8px;
        font-size: 1.6rem;
        font-weight: normal;
        margin: 0;
        text-transform: uppercase
    }

    .toolbar .searchbar-md {
        padding: 8px;
    }    
      
    #models {
        margin-bottom: 40px;
    }
}
