<ion-content padding>

    <div id="container" #container>
        <ion-spinner *ngIf="!isIframeLoaded"></ion-spinner>
        <iframe [src]="video | safe" width="100%" frameborder="0" allowfullscreen #video (load)="iframeLoaded(this)"></iframe>
    </div>

    <ion-grid no-padding>
        <ion-row>
            <ion-col col-2 offset-1>
                <img src="assets/imgs/proc-koupit-1.png" class="icon">
            </ion-col>
            <ion-col col-7 offset-1>
                <p text-left>Unikátní ručně lepené<br>a malované modely stadionů!</p>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col col-7 offset-1>
                <p text-right>Šálu či dres má každý,<br>stadion má jenom srdcař!</p>
            </ion-col>
            <ion-col col-2 offset-1>
                <img src="assets/imgs/proc-koupit-2.png" class="icon">
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col col-2 offset-1>
                <img src="assets/imgs/proc-koupit-3.png" class="icon">
            </ion-col>
            <ion-col col-7 offset-1>
                <p text-left>Produkt,<br>co má prestiž!</p>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col col-7 offset-1>
                <p text-right>Tvoje sbírka<br>zvýší svou hodnotu!</p>
            </ion-col>
            <ion-col col-2 offset-1>
                <img src="assets/imgs/proc-koupit-4.png" class="icon">
            </ion-col>
        </ion-row>
        <ion-row class="bg-blue" style="border-radius: 8px 8px 0 0;">
            <ion-col col-2 offset-1>
                <img src="assets/imgs/proc-koupit-5.png" class="icon">
            </ion-col>
            <ion-col col-7 offset-1>
                <p text-left>Jedinečné modely vyrobené<br>z&nbsp;českého křišťálu!</p>
            </ion-col>
        </ion-row>
        <ion-row class="bg-blue">
            <ion-col col-7 offset-1>
                <p text-right>Ručně broušené díly<br>z tisíců kousků skla!</p>
            </ion-col>
            <ion-col col-2 offset-1>
                <img src="assets/imgs/proc-koupit-7.png" class="icon">
            </ion-col>
        </ion-row>
        <ion-row class="bg-blue" style="border-radius: 0 0 8px 8px;">
            <ion-col col-2 offset-1>
                <img src="assets/imgs/proc-koupit-8.png" class="icon">
            </ion-col>
            <ion-col col-7 offset-1>
                <p text-left>Označeno za nejoriginálnější<br>modely na světě!</p>
            </ion-col>
        </ion-row>
    </ion-grid>

</ion-content>
