page-info {
    .icon {
        max-width: 4.8rem;
    }
    
    p {
        font-size: 1.25rem;
        font-weight: bold;
        color: color($colors, blue);
        line-height: 1.5;
    }
    #container {
        background-color: #f0f0f0;
        position: relative;
        width: 100%;
        margin: 1em auto;
    }
    .bg-blue {
        background-color: color($colors, blue);
    }

    .bg-blue p {
        color: white;
    }

    ion-row {
        align-items: center;
        padding: 10px 0
    }
    ion-spinner {
        position: absolute;
        left: calc(50% - 14px);
        top: calc(50% - 14px);
    }

}
