custom-header {
    #title-logo {
        position: absolute; width: 56px; left: 16px; bottom: 4px;
    }
    #title-logo img {
        height: 40px;
    }
    .toolbar-content-ios #title-logo img {
        height: 30px;
    }
}

