<ion-navbar>
    <div id="title-logo" [hidden]="header_data.backButton === true">
        <img src="assets/imgs/tarespa-logo.png">
    </div>
    <ion-title text-center>
        {{header_data.title}}
    </ion-title>
    <ion-buttons right>
        <button ion-button icon-only>
            <ion-icon name="search"></ion-icon>
        </button>
    </ion-buttons>
</ion-navbar>