rotator {

    .all {
        width: 100%;
        height: 100%;
    }

    #imgContent {
        width: 100%;
        height: 100%;
        position: relative;
    }

    .icon {
        max-width: 5.0rem;
        margin-right: 2.0rem;
    }

    .imgs {
        max-height: 100%;  
        max-width: 100%; 
        width: auto;
        height: auto;
        position: absolute;  
        top: 0;  
        bottom: 0;  
        left: 0;  
        right: 0;  
        margin: auto;
    }

    .hidden {
        display: none;
    }

    .buttons {
        position: absolute;
        bottom: 20px;
        left: 30px;
    }
}