<div class="all">

        <div (pan)="rotation($event)" (touchend)="endRotation($event);" (touchstart)="startRotation($event);" id="imgContent">
                <img *ngFor="let img of _images; let i = index" [src]="img | safe" class="imgs hidden" id="img-{{i}}" />
                <img *ngIf="_images.length > 0" [src]="_images[0] | safe" class="imgs" />
        </div>

        <div class="buttons">
                <img src="assets/imgs/icon-minus.png" class="icon" (click)="zoom(false)" />
                <img src="assets/imgs/icon-add.png" class="icon" (click)="zoom(true)" />
        </div>
</div>