// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

ion-card-header {
    font-weight: bold
}

p {
    line-height: 1.5
}

.button-md {
    box-shadow: none !important;
}

ion-header ion-icon.back-button-icon.icon {
    color: color($colors, orange);
}

.btn-icon {
  background-color: transparent;
  border: none;
  box-shadow: none;
}

ion-icon {
    &[class*="custom-"] {
      mask-size: contain;
      mask-position: 50% 50%;
      mask-repeat: no-repeat;
      background: currentColor;
      width: 1em;
      height: 1em;
    }
    &[class*="custom-model"] {
      mask-image: url(../assets/imgs/icon-model.png);
    }
    &[class*="custom-soutez"] {
      mask-image: url(../assets/imgs/icon-soutez.png);
    }
    &[class*="custom-kosik"] {
      mask-image: url(../assets/imgs/icon-kosik.png);
    }
    &[class*="custom-onas"] {
      mask-image: url(../assets/imgs/icon-onas.png);
    }
}

.badge-md {
  border-radius: 12px
}