<ion-content fixed-content style="background-image: url('../../assets/imgs/fb_background.jpg'); background-size: cover; background-repeat: no-repeat">
  <div style="width:100%;height:100%;text-align:center" [hidden]='!loggedIn'>
    <iframe width="100%" height="100%" sandbox="allow-same-origin allow-scripts allow-popups allow-forms" style="border:none;overflow:hidden"
      scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media" #video></iframe>
  </div>
  <div text-center style="height: 100%; display: flex;  justify-content: center;  flex-direction: column;  align-items: center">
    <div>
      <ion-icon name="logo-facebook" color="facebook" style="font-size: 7.2rem" (click)="loginFacebook()"></ion-icon>
    </div>
    <div style="margin-top: 20px;">
      <button ion-button icon-start color="facebook" (click)="loginFacebook()">
        Přihlásit
      </button>
    </div>
  </div>
</ion-content>