page-detail {

    .icon {
        max-width: 6.0rem;
    }

    h1 {
        color: white;
        background-color: color($colors, blue);
        text-align: center;
        width: 100%;
        padding: 8px;
        font-size: 2rem;
        font-weight: normal
    }


    .scroll-content {
        margin-bottom: 56px !important;
    }

    .swiper-container {
        padding-bottom: 36px;
    }
    
    .swiper-pagination-bullet-active {
        background-color: color($colors, orange);
    }

    .segment-button {
        border: none !important;
        background-color: #eee !important;
        color: #000 !important;
        text-transform: none !important;
    }

    .segment-activated {
        background-color: color($colors, orange) !important;
        color: white !important;
        font-weight: bold !important;
    }

    .segment-button:first-child {
        border-radius: 25px 0 0 25px !important;
    }
    .segment-button:last-child {
        border-radius: 0 25px 25px 0 !important;
    }

    ion-segment {
        margin-bottom: 16px;
        width: 220px;
        margin: 0 auto;
    }

    #description p strong {        
        color: color($colors, orange);
        font-weight: bold;
    }

    #description {
        padding-bottom: 56px;
        margin-bottom: 40px;
    }

    @media (orientation: landscape) {
        #buy-button {
            width: auto;
            contain: content;
            padding-left: 5.2rem;
            padding-right: 5.2rem;
            margin: 0 auto;
        }
    }
    
}
