<ion-header no-border>
    <ion-navbar>
    </ion-navbar>
</ion-header>

<ion-content>

    <ion-grid>
            <ion-row [hidden]="hasCrystal == false">
                <ion-col col-10 offset-1>    
                    <ion-segment [(ngModel)]="variant"  (ionChange)="variantChanged($event)">
                        <ion-segment-button value="standard">
                            Standard
                        </ion-segment-button>
                        <ion-segment-button value="silver">
                            Křišťál
                        </ion-segment-button>
                    </ion-segment>    
                </ion-col>
            </ion-row>
        <ion-row>
            <ion-col col-10 offset-1>
                <ion-slides pager="true">
                    <ion-slide *ngFor="let photo of photos">
                        <img [src]="photo.url | safe">
                    </ion-slide>
                </ion-slides>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col col-6 text-center>
                <button class="btn-icon" [disabled]="!model || !model.model || model.model.url === ''" (click)="goToProhlidkaPage()">
                    <img src="assets/imgs/icon-3dmodel.png" class="icon">
                </button>
            </ion-col>
            <ion-col col-6 text-center>
                <button class="btn-icon" [disabled]="!model || !model.viewUrl || model.viewUrl === ''" (click)="view()">
                    <img src="assets/imgs/icon-prohlidka.png" class="icon">
                </button>
            </ion-col>
        </ion-row>
    </ion-grid>

    <h1>{{model.title}}</h1>

    <div padding>
        <div id="description" [innerHtml]="model.description"></div>
    </div>

</ion-content>

<div style="left: 0;
bottom: 50px;
height: 100px;
position: absolute;
z-index: 10;
display: block;
background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
width: 100%;"></div>

<ion-footer no-border padding transparent>
    <button id="buy-button" ion-button color="orange" full round (click)="buy()">
        Koupit model
    </button>
</ion-footer>